triton==3.1.0
parse_llm_code
pandas
numpy==1.26
openai==1.75.0
anthropic
tqdm
--extra-index-url https://download.pytorch.org/whl/rocm6.4
torch
datasets==3.6.0
huggingface-hub
multiprocess
protobuf==5.29.4
PyYAML
transformers
regex
requests
rank-bm25
loguru
tenacity